@model IEnumerable<SchoolManagementSystem_V1.Models.Campus>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CampusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shift)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CampusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch.BranchId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shift.ShiftId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CampusId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CampusId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CampusId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
