@model IEnumerable<SchoolManagementSystem_V1.Models.StudentPayment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentAmmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentAmmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentPaymentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentPaymentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentPaymentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
