@model SchoolManagementSystem_V1.Models.GradingSystem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GradingSystem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxMarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxMarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumMarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumMarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class.ClassId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GradeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
