@model SchoolManagementSystem_V1.Models.StudentPromotion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudentPromotion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromotionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromotionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromotionStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromotionStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromotionReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromotionReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromotionApprover)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromotionApprover)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class.ClassId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StudentPromotionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
